@model LkeServices.Messages.EmailTemplates.ViewModels.MyLykkeCashInTemplate

<!DOCTYPE html>
<html>
<head>
    <title>Purchase Lykke Coins</title>
</head>
<body style="background-color: #F4F6F7;font-family: Geneva, Arial, Helvetica, sans-serif;">
    <div style="margin:20px auto;width:600px;">
        <img src="https://lkefiles.blob.core.windows.net/images/emails/logo_emails.png" height="60" alt="Lykke logo" />
    </div>
    <table style="margin:auto;width:600px;border: 1px solid #E5E7EA;background-color: #fff;">
        <tr>
            <td style="padding-top:50px;"></td>
        </tr>
        <tr>
            <td style="text-align:center;padding:0 40px 0 40px;">
                <img src="https://lkefiles.blob.core.windows.net:443/images/emails/letter_qr.png" width="300" alt="Letter image" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <h1>Purchase Lykke Coins</h1>
            </td>
        </tr>
        <tr>
            <td style="padding:0 40px 0 40px;text-align: center; ">
                <p style="font-size: 1.2em; color: #3F4D60; line-height: 180%; margin-top: 30px;">
                    To buy @Model.LkkAmount Lykke coins, please send @Model.Amount @Model.AssetId to the following address:<br />
                    <span style="color:#AB01FF;font-weight:bold">@Model.ConversionWalletAddress</span><br />
                    or scan the following QR-code:
                </p>
                <img src="@("https://lykke-qr.azurewebsites.net/QR/" + @Model.ConversionWalletAddress + ".gif")" width="240" alt="QR code" />
                <p style="font-size: 1.2em; color: #3F4D60; line-height: 180%; margin-top: 30px;">
                    You will receive the equivalent value in Lykke coins, based on the actual market price of LKK at
                    the time that your deposit of @Model.AssetId is detected and confirmed. Please note that the
                    amount that you receive may differ from the expected amount, since the price of LKK is subject
                    to change.
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding:0 40px 20px 40px; text-align:center;font-size: 0.9em;color: #8C94A0;margin: 20px 0 40px 0;">
                <hr />
                <p style="padding-top:20px">If you did not sign up for this account, please ignore this email. The account will be deleted.</p>
            </td>
        </tr>
    </table>
    <table style="margin:auto;width:600px;border: none;">
        <tr>
            <td style="padding:10px 40px 20px 40px; text-align:center;font-size: 0.9em;color: #8C94A0;margin: 20px 0 40px 0;">
                <p>&copy; Lykke @Model.Year. All rights reserved, support &mdash; <a style="color: #8C94A0;" href="mailto:support@lykkex.com">support@lykkex.com</a></p>
                <p>Let's be friends in social networks!</p>
                <a href="https://www.facebook.com/groups/542506412568917/"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/fb_icon.png" height="25" alt="facebook" /></a>
                <a href="https://twitter.com/LykkeCity"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/twitter_icon.png" height="25" alt="twitter" /></a>
                <a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/youtube_icon.png" height="25" alt="youtube" /></a>
            </td>
        </tr>
    </table>
</body>
</html>