@model LkeServices.Messages.EmailTemplates.ViewModels.TransferTemplate

<!DOCTYPE html>
<html>
<head>
    <title>Deposit complete</title>
</head>
<body style="background-color: #F4F6F7;font-family: Geneva, Arial, Helvetica, sans-serif;">
    <div style="margin:20px auto;width:600px;">
        <img src="https://lkefiles.blob.core.windows.net/images/emails/logo_emails.png" height="60" alt="Lykke logo" />
    </div>
    <table style="margin:auto;width:600px;border: 1px solid #E5E7EA;background-color: #fff;">
        <tr>
            <td style="padding-top:50px;"></td>
        </tr>
        <tr>
            <td style="text-align:center;padding:0 40px 0 40px;">
                <img src="https://lkefiles.blob.core.windows.net:443/images/emails/deposit_btc_logo.png" width="300" alt="Letter image" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <h1 style="font-size:2.4em;">Deposit complete</h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px 0 40px; text-align: center;">
                <p style="font-size: 1.4em; color: #3F4D60; line-height: 180%;font-weight: bold">Dear @Model.ClientName,</p>
                <p style="font-size: 1.2em; color: #3F4D60; line-height: 180%;">
                    Your transfer of @Model.AmountFiat @Model.AssetId is confirmed received.
                </p>
                <p style="font-size: 1.2em; color: #3F4D60; line-height: 180%;">
                    The equivalent amount of Lykke coins (@Model.AmountLkk Lykke at price @Model.Price LKK/@Model.AssetId) is transferred to your trading account. After 3 confirmations on blockchain it will be detected in your Lykke Wallet.
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding:20px 40px 60px 40px; text-align:center;">
                <a style="font-weight: bold; letter-spacing: 3px; font-size: 1.2em; color: #3F4D60; border-radius: 2em; border: 1px solid #3F4D60; padding: 20px 30px 20px 30px; text-decoration: none" href="@Model.ExplorerUrl">
                    VIEW IN EXPLORER
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding:0 40px 20px 40px; text-align:center;font-size: 0.9em;color: #8C94A0;margin: 20px 0 40px 0;">
                <hr />
                <p style="padding-top:20px">If you did not sign up for this  account you can ignore this email and the account will be deleted.</p>
            </td>
        </tr>
    </table>
    <table style="margin:auto;width:600px;border: none;">
        <tr>
            <td style="padding:10px 40px 20px 40px; text-align:center;font-size: 0.9em;color: #8C94A0;margin: 20px 0 40px 0;">
                <p>&copy; Lykke @Model.Year. All rights reserved, support &mdash; <a style="color: #8C94A0;" href="mailto:support@lykkex.com">support@lykkex.com</a></p>
                <p>Let's be friends in social networks!</p>
                <a href="https://www.facebook.com/groups/542506412568917/"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/fb_icon.png" height="25" alt="facebook" /></a>
                <a href="https://twitter.com/LykkeCity"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/twitter_icon.png" height="25" alt="twitter" /></a>
                <a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/youtube_icon.png" height="25" alt="youtube" /></a>
            </td>
        </tr>
    </table>
</body>
</html>