@using System
@model LkeServices.Messages.EmailTemplates.ViewModels.UserRegisteredTemplate

<!DOCTYPE html>
<html>
<head>
    <title>[KYC]</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Full name: @Model.FullName
            </td>
        </tr>
        <tr>
            <td>
                Email: @Model.Email
            </td>
        </tr>
        <tr>
            <td>
                Phone: @Model.ContactPhone
            </td>
        </tr>
        <tr>
            <td>
                Registered: @Model.DateTime
            </td>
        </tr>
        <tr>
            <td>
                Country: @Model.Country
            </td>
        </tr>
        <tr>
            <td>
                <a href="@String.Concat("https://lykke-backoffice.azurewebsites.net/#/Kyc/DocumentsChecking/Client/", @Model.UserId)">Kyc Page for the Registered Client</a>
            </td>
        </tr>
    </table>
</body>
</html>